<fieldset class="image-grid">
  <legend>Select all {{ imageGridContent().targetLabel }}</legend>

  @for (image of imageGridContent().images; track image.id) {
    <label class="image-cell">
      <input
        type="checkbox"
        [checked]="isReadonly() ? image.isTarget : selectedIds().has(image.id)"
        [disabled]="isReadonly()"
        (change)="toggleSelection(image.id)"
      />
      <img [src]="image.src" alt="" />
    </label>
  }
</fieldset>

@if (!isReadonly()) {
  <button (click)="onSubmit()">Submit</button>
}